section.menu.__js_menu
	.menu__inner(style="padding-top: 135px;")
		nav.menu__nav.navigation
			ul.navigation__list(itemscope itemtype='http://schema.org/SiteNavigationElement')
				each item in MAIN_MENU
					- let addCl = item.submenu ? ' __js_dropdown-link' : '';
					if item.currentSection === currentSection && item.currentPage === currentPage
						li.navigation__item.navigation__item--current
							if item.id
								a.navigation__link(class= addCl, data-target= '#' + item.id)= item.text
							else
								a.navigation__link(class= addCl)= item.text
							if item.submenu
								+nav-dropdown(item.submenu, item.id)

					else if item.currentSection === currentSection && item.currentPage !== currentPage
						li.navigation__item.navigation__item--current
							if item.id
								a.navigation__link(itemprop='url', class= addCl, data-target= '#' + item.id, href= item.url)= item.text
							else
								a.navigation__link(itemprop='url', class= addCl, href= item.url)= item.text
							if item.submenu
								+nav-dropdown(item.submenu, item.id)

					else
						li.navigation__item
							if item.id
								a.navigation__link(itemprop='url', class= addCl, data-target= '#' + item.id, href= item.url)= item.text
							else
								a.navigation__link(itemprop='url', class= addCl, href= item.url)= item.text
							if item.submenu
								+nav-dropdown(item.submenu, item.id)


