mixin plan-card(className, digit, href, title, date)
	.plan-card(class=className)
		.plan-card__image
			img(src='img/plan/item-1.jpg', srcset='img/plan/item-1@2x.jpg 2x', width='640', height='426', alt='')
		.plan-card__content
			.plan-card__digit= digit
			a.plan-card__link(href=href, target='_blank')
				span= title
				+icon('chevron')(width="15", height="29")
			.plan-card__date= date
